div.pagination {
    width: 100%;



}

.promotionSection {
    min-height: 400px;
}

.promotionSection .wrapper {
    z-index: 2;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li.siteList {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(59, 27, 27);
}

li.siteList li {
    margin-left: 15px;
    cursor: pointer;
    font-size: 20px;
}

li.siteList li:first-of-type {
    margin-left: 0;
}

.bennn {
    position: absolute;
    bottom: 0;
    left: 4%;
}

li.pagiNation div {
    width: 33.333%;
    height: 50%;
}

li.pagiNation {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

li.pagiNation div div {
    border: 3px solid rgb(185, 128, 128);
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 430px;
    background-color: rgb(195, 95, 95);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: white;
    overflow: hidden;
}

li.pagiNation div div:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

li.pagiNation div div {
    position: relative;
}

h1.deviceName {
    text-align: center;
    color: rgb(59, 27, 27);
    border-bottom: none;
    text-decoration: none;
    list-style-type: none;
    border-bottom: none;
    letter-spacing: 0.5px;
    font-size: 23px;
}

h2.devicePrice {
    text-align: center;
    border-bottom: none;
    text-decoration: none;
    list-style-type: none;
    border-bottom: none;
    margin-top: -20px;
    font-size: 22px;
    color: rgb(172, 102, 102);
    letter-spacing: 1px;
}

h1.products {
    font-size: 50px;
    text-align: center;
    margin-bottom: 70px;
}

@media only screen and (max-width: 1410px) {
    .promotionSection .wrapper {
        width: 1200px;
    }
}

@media only screen and (max-width: 1210px) {
    .promotionSection .wrapper {
        width: 900px;
    }

    li.pagiNation div div {
        width: 90%;
    }
}

@media only screen and (max-width: 910px) {
    .promotionSection .wrapper {
        width: 600px;
    }

    li.pagiNation div {
        width: 49.9999%;
        height: 33.33%;
    }
}

@media only screen and (max-width: 650px) {
    .promotionSection .wrapper {
        width: 100%;
    }

    h1.deviceName {
        font-size: 22px;
        letter-spacing: 0px;
    }

    h2.devicePrice {
        font-size: 20px;
        margin-top: -15px;
        letter-spacing: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .promotionSection .wrapper {
        width: 350px;
    }

    li.pagiNation div {
        width: 100%;
        height: 17%;
    }

    li.siteList {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 365px) {
    .promotionSection .wrapper {
        width: 300px;
    }
}