.registerForm {
    width: 400px;
    margin: 0 auto;
    margin-top: 150px;
    height: 800px;
    position: relative;
    overflow-x: hidden;
}

.registerForm button.returnToStore .return {
    text-decoration: none;
    color: rgb(42, 5, 5);
}

.registerForm h1 {
    text-align: center;
    color: rgb(59, 27, 27);
    letter-spacing: 3px;
}

.registerForm .login label,
.registerForm .password label,
.registerForm .lastName label,
.registerForm .firstName label {
    font-size: 0.625em;
    color: rgb(185, 128, 128);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 4px;
    font-family: "Karla", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 12px;
}


.registerForm .login input,
.registerForm .password input,
.registerForm .lastName input,
.registerForm .firstName input {
    width: 90%;
    margin: 0;
    padding: 10px;
    border: 0px;
    outline: 2px solid rgb(185, 128, 128);
    outline-offset: -2px;
    font-family: "Karla", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.75em;
    background-color: transparent;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.registerForm button.submitLogin {
    display: block;
    width: 250px;
    padding: 12px 0;
    background: rgb(87, 39, 39);
    color: rgb(255, 255, 255);
    border: 0;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.registerForm .returnToStore {
    outline: none;
    border: none;
    background-color: rgb(158, 158, 158);
    margin-top: 25px;
    margin-left: 50%;
    color: white;
    transform: translateX(-50%);
    width: 140px;
    height: 30px;
}

.registerForm div.firstName {
    position: relative;
}

.registerForm div.error {
    color: rgb(109, 22, 22);
    position: relative;
    font-size: 14px;
    transform: translateX(-50%);
    left: 50%;
    top: -20px;
    text-align: center;
}

@media only screen and (max-width: 515px) {
    .registerForm {
        height: 550px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 430px) {

    .registerForm .login label,
    .registerForm .password label,
    .registerForm .lastName label,
    .registerForm .firstName label {
        margin-left: 9px;
    }

    .registerForm {
        width: 95%;

    }
}