.greeting {
    height: 750px;
    /* background-color: blue; */
    position: relative;
    width: 100%;
    top: 50px;
    overflow: hidden;

}

.video {
    width: 80%;
    /* margin: 0 auto; */
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);


}

.greeting .shopNow {
    outline: none;
    border: none;
    border: 2px solid rgb(107, 87, 64);
    background-color: rgb(202, 178, 151);
    /* background-color: transparent; */
    color: rgb(39, 39, 39);
    font-weight: bold;
    border-radius: 50px;
    font-size: 25px;
    width: 300px;
    height: 60px;
    bottom: 100px;
    z-index: 32;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    cursor: pointer;
}

.greeting .blur {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: rgba(180, 134, 134, 0.329);
    z-index: 30;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}