section.phoneProperty {
    /* background-color: green; */
    margin: 40px 0 0 0;
    height: 700px;
    position: relative;
    background-color: white;
    border-radius: 50px;
    /* border: 3px solid rgb(98, 57, 57); */
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    overflow-x: hidden;
    border: 5px solid rgb(185, 128, 128);
}

section.phoneProperty .phoneImg img {
    /* height: 300px; */
    max-height: 500px;
    max-width: 90%;
    /* width: 90%; */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

section.phoneProperty .phoneDetails img {
    /* height: 300px; */
    max-height: 250px;
    max-width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    /* width: 90%; */
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    /* left: 50%; */
    /* top: 50%; */
    display: none;

}

section.phoneDetails {
    /* background-color: pink; */
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 100%;
}

section.phoneImg {
    /* background-color: purple; */
    width: 50%;
    height: 100%;
    position: absolute;
    /* z-index: 321321312; */
    /* width: 47%;  */
}

section.phoneDetails .deviceName {
    /* background-color: red; */
    /* position: absolute; */
    text-align: center;
    font-size: 40px;
    color: rgb(87, 39, 39);
    margin-top: 50px;
    letter-spacing: 3px;
}

section.phoneDetails .price {
    /* background-color: green; */
    font-size: 25px;
    text-align: center;
    color: rgb(124, 68, 68);
    margin-bottom: 50px;
}

section.phoneDetails .seller {
    /* margin-left: 100px; */
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

section.phoneDetails .condition {
    /* margin-left: 100px; */
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

section.phoneDetails .userContact {
    /* margin-left: 100px; */
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

section.phoneDetails .itemDescription {
    /* margin-left: 100px; */
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

section.phoneDetails .itemDescription span {
    font-size: 16px;
    letter-spacing: 0;
}

section.phoneDetails .shipping {
    /* margin-left: 100px; */
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}


section.phoneDetails .addToCart {
    /* background-color: purple; */
    display: block;
    width: 250px;
    padding: 12px 0;
    background: rgb(149, 76, 76);
    color: rgb(255, 255, 255);
    border: 0;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    /* margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
    /* transform: translateX(-50%); */
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    border: 2px solid rgb(88, 25, 25);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s ease;
}

section.phoneDetails .addToCart:hover {
    box-shadow: none;
}






section.recommendedProducts {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    height: 350px;
    border: 5px solid rgb(185, 128, 128);
    border-radius: 50px;
    margin-top: 50px;
}

section.recommendedProducts ul li img {
    max-height: 200px;
    max-width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}

section.recommendedProducts h1.recommendedProductsTitle {
    font-size: 25px;
    text-align: center;
    color: rgb(87, 39, 39);
    letter-spacing: 3px;
}

section.recommendedProducts ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 210px;
    list-style-type: none;
    width: 95%;
    padding: 0;
    margin-left: 50%;
    transform: translateX(-50%);

}

section.recommendedProducts ul li {
    width: 24.9%;
    height: 90%;
    /* background-color: red; */
    cursor: pointer;
}

section.recommendedProducts ul li div.deviceName {
    text-align: center;

}


/* section.recommendedProducts {
 
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    background-color: white;
 
    height: 350px;
    border: 5px solid black;
    margin-top: 20px;
    border-radius: 50px;
}

section.recommendedProducts img {
    height: 200px;
   


}

section.recommendedProducts div {
    
    width: 250px;

}

h1.recommendedProductsTitle {
    text-align: center;
    background-color: white;
}

section.recommendedProducts .deviceName {
    text-align: center;
    font-size: 20px;
    
} */

@media only screen and (max-width: 1330px) {
    section.phoneProperty {
        width: 1000px;
    }
}

@media only screen and (max-width: 1030px) {
    section.phoneProperty {
        width: 800px;
        height: 650px;
    }

    section.recommendedProducts {
        width: 750px;
        height: 300px;
    }

    section.recommendedProducts ul li img {
        max-width: 150px;
        max-height: 150px;
    }
}

@media only screen and (max-width: 830px) {
    section.phoneProperty {
        height: 900px;
        width: 95%;
    }

    section.phoneProperty .phoneImg img {
        display: none;
    }

    section.phoneProperty .phoneDetails img {
        display: block;
    }

    section.phoneDetails {
        /* background-color: red; */
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
}

@media only screen and (max-width: 780px) {
    section.recommendedProducts {
        width: 90%;
    }

    section.recommendedProducts ul li img {
        max-width: 90%;
        max-height: 90%;
    }
}

@media only screen and (max-width: 680px) {
    section.recommendedProducts ul li {
        width: 49.999%;
    }

    section.recommendedProducts {
        height: 500px;
    }

    section.recommendedProducts ul {
        flex-wrap: wrap;
    }

    section.recommendedProducts ul li img {
        max-width: 80%;
        max-height: 70%;
    }
}

@media only screen and (max-width: 520px) {
    section.phoneDetails .deviceName {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 430px) {
    section.phoneDetails .price {
        margin-bottom: 10px;
    }

    section.phoneDetails .shipping {
        margin-bottom: 20px;
    }

    section.phoneDetails .seller {
        margin-bottom: 4px;
    }

    section.phoneDetails .condition {
        margin-bottom: 4px;
    }

    section.phoneDetails .userContact {
        margin-bottom: 4px;
    }

    section.phoneDetails .itemDescription {
        margin-bottom: 4px;
    }

    section.recommendedProducts ul li img {
        max-width: 95%;
        max-height: 95%;
    }
}