.sellItem {
    background-color: rgb(238, 231, 231);
    /* margin-left: 20%; */
    /* margin-right: 20%; */
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 1300px;
    margin-top: 100px;
    text-align: center;
    border: 5px solid rgb(185, 128, 128);
    border-radius: 50px;
}

.sellItem .wrap-label {
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: 5px;
}

.sellItem select {
    color: rgb(87, 39, 39);
    background-color: transparent;
    font-family: "Karla", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 5px 30px;
    font-size: 13px;
    border: 0px;
    outline: 2px solid rgb(185, 128, 128);
}

.sellItem .uploadedImg {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 450px;
    max-height: 320px;
    background-position: center;
}

.sellItem h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(87, 39, 39);
    letter-spacing: 3px;
}

.sellItem label {
    /* font-size: 0.625em; */
    /* margin-bottom: 55px; */
    color: rgb(185, 128, 128);
    text-transform: uppercase;
    font-weight: 600;
    /* margin-bottom: 4px; */
    font-family: "Karla", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* background-color: red; */
}

.sellItem span.error {
    font-size: 14px;
    color: rgb(109, 22, 22);
}

.sellItem input {
    width: 290px;
    margin: 0;
    padding: 10px;
    border: 0px;

    outline: 2px solid rgb(185, 128, 128);
    /* outline-offset: -2px; */
    font-family: "Karla", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 0.75em; */
    font-size: 13px;
    background-color: transparent;
    /* margin-bottom: 20px; */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.sellItem textarea {
    width: 430px;
    height: 200px;
    resize: none;
    margin: 0;
    border: 0px;
    font-family: "Karla", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: 2px solid rgb(185, 128, 128);
    background-color: rgb(238, 231, 231);
}

.zdjecie img {
    /* height: 27%; */
    /* background-color: green; */

}

.sellItem button.submitSell {
    display: block;
    width: 250px;
    padding: 12px 0;
    background: rgb(170, 85, 85);
    color: rgb(255, 255, 255);
    border: 0;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* transform: translateX(-50%); */
    border-radius: 50px;
    border: 2px solid rgb(105, 29, 29);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow .3s ease;
    outline: none;
}

input#quantity {
    width: 60px;
    /* font-size: 15px; */
    text-align: center;
}

.sellItem button.submitSell:hover {
    box-shadow: none;
}

@media only screen and (max-width: 930px) {
    .sellItem {
        width: 95%;
    }
}

@media only screen and (max-width: 500px) {
    .sellItem textarea {
        width: 92%;
    }

    .sellItem input {
        padding: 5px;
        width: 220px;
    }

    .sellItem label {
        font-size: 12px;
    }

    .sellItem h1 {
        font-size: 25px;
    }

    .sellItem button.submitSell {
        width: 190px;
    }

    .sellItem .uploadedImg {
        max-width: 250px;
    }
}