/* nav {
    height: 100px;
    width: 100%;
    position: relative;
}

nav ul li {
    display: inline;
} */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #00BAF0; */
    /* background: linear-gradient(to left, #f46b45, #eea849); */
    /* background: white; */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(0, 0, 0);
    height: 50px;
    padding: 1em;
    letter-spacing: 3px;
    /* background-color: #cfcfcf; */

    color: rgb(149, 57, 57);

}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

}



.menu>li {
    margin: 0 1rem;
    cursor: pointer;

    /* background-color: #fff; */

}

nav .top-nav .menu>li:hover {
    border-bottom: 1px solid rgb(149, 57, 57);
}

.menu select {
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(149, 57, 57);
    outline: none;
}

.menu li.currency select {
    cursor: pointer;
}

.menu li.currency:hover {
    border-bottom: none;
}

.menu select option {
    background-color: transparent;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

nav img {
    width: 200px;
}

nav section.top-nav li .nav {
    border: 0;
    text-decoration: none;
    color: rgb(149, 57, 57);
}

.top-nav .hamburger {
    display: none;
    cursor: pointer;
}

nav .hamburgerNav {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    width: 380px;
    background-color: rgb(202, 145, 145);
    height: calc(100vh - 46px);
    z-index: 931293;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
    border: 3px solid rgb(122, 69, 69);
    border-right: none;
    z-index: 22;
}

nav .blur {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 11;
}

nav .hamburgerNav ul {
    display: flex;
    flex-direction: column;

}



nav .hamburgerNav ul li {
    font-size: 30px;
    /* background-color: #fff; */
    width: 150px;
    letter-spacing: 3px;
    margin-top: 20px;
}

nav .hamburgerNav ul li.currency {
    color: rgb(39, 5, 5);
}

nav .hamburgerNav ul li.currency select {
    color: rgb(90, 15, 15);
    font-size: 22px;
}

nav .hamburgerNav ul li:first-of-type {
    margin-top: 70px;
}

nav .hamburgerNav ul li .nav {
    color: rgb(90, 15, 15);
    text-decoration: none;
}

nav .hamburgerNav ul li:hover .nav {
    color: rgb(161, 109, 109);
}

@media only screen and (max-width: 850px) {
    .top-nav ul.menu {
        display: none
    }

    .top-nav .hamburger {
        display: block;
        font-size: 30px;
    }

    nav .blur {
        display: block;
    }
}

@media only screen and (max-width: 435px) {
    nav .hamburgerNav {
        width: 88%;
    }

    nav .storeName img {
        margin-top: 2px;
        width: 150px;
        margin-left: -10px;

    }
}